<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.DataCollection" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.20213.61" newVersion="1.0.20213.61" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>